extends base

block content
  if errorMsg
    span=errorMsg
  form(method="POST")
    input(type="password" required name="oldPassword" placeholder="Old password")
    input(type="password" required name="newPassword" placeholder="New password")
    input(type="password" required name="newPasswordConfirm" placeholder="New Password confirm")
    input(type="submit" value="Change Password")