extends base

block content 
  if errorMsg 
    span=errorMsg
  form(method="POST" enctype="multipart/form-data")
    div.filebox
      input(placeholder="Selected file" type="text" disabled).input__filename
      label(for="video") Select file
      input(type="file" id="video" name="video" accept="video/*" required).input__file
    input(name="title" placeholder="Video title" required type="text" maxlength=20)
    input(name="description" placeholder="Video description" required type="text" maxlength=20)
    input(name="hashtags" placeholder="Hashtags, separated by comma" required type="text")
    input(type="submit" value="Upload Video")